@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.DropdownContainer{
  background-color: white;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: #212121;
  position: relative;
  width: 100%;
  height: 48px;
}

.Dropdown {
  position: absolute;
  top:0;
  left:0;
  right:0;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
}

.Dropdown.Active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  boder:none;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0px 14px;
    border: none;
}

.SelectedItemText {
    margin-left: 10px;
}

.Menu {
  overflow: auto;
  max-height:0;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}

.Menu.Active{
  max-height:150px;
}

.Option {
  margin-bottom:15px;
}

