@import-normalize;

.Dropdown {
}

.Header {
    color: white;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px;
}

.SelectedItemText {
    margin-left: 10px;
}

.DropdownMenu {
    background-color: teal;
    display: block;
}

.DropdownMenu.Hidden {
    display: none;
}
