.Arrow {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    transform: rotate(-135deg);
    transition: transform 1s ease-in;
}
